h2 {
    text-align: center;
}

form {
    display: block;
    border: 2px solid #aa6804;
    padding: 15px;
    width: 40%;
    margin: auto;
    transform: translateY(70%);
    text-align: center;
}

input[type=email] {
    width: 80%;
    padding: 10px 10px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid rgb(139, 139, 139);
}

input[type=submit] {
    background-color: #aa6804;
    color: white;
    padding: 10px 10px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 15%;
}

span {
    color: red;
}

input[type=submit]:hover {
    opacity: 0.8;
}

p {
    color: #aa6804;
}