body {
    border: 2px solid #91aa04;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    color: #91aa04;
}

table {
    width: 98%;
    margin: 0px 12px;
}

table,
th,
td {
    border: 1px solid #91aa04;
    border-collapse: collapse;
}

th {
    height: 50px;
    background-color: #01818a;
}

td {
    height: 35px;
    text-align: center;
    background-color: #018a5c;
}

#name {
    width: 15%;
}

#email {
    width: 25%;
}

#password {
    width: 15%;
}

#age {
    width: 5%;
}

#gender {
    width: 7%;
}

#image {
    width: 10%;
}

#role {
    width: 7%;
}

#edit {
    width: 7%;
}

#delete {
    width: 7%;
}

img {
    width: 60%;
    height: 100%;
    margin-bottom: -4%;
}

input {
    background-color: #91aa04;
    color: white;
    padding: 10px 15px;
    margin: 10px 12px;
    border: none;
    cursor: pointer;
}

input:hover {
    opacity: 0.8;
}

#ed {
    text-decoration:none;
    color: Black;
    background-color: Gold;
    display: block;
    padding: 9%;
}

#del {
    text-decoration:none;
    color: Black;
    background-color: IndianRed;
    display: block;
    padding: 9%;
}